<ion-header>
  <ion-navbar color="primary">
      <ion-title *ngIf="!global.TipoIngeso" >Perfil Estudiante</ion-title>
      <ion-title *ngIf="global.TipoIngeso" >Perfil Profesor</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="global.TipoIngeso">
  <ion-card-title>
  </ion-card-title>
  <ion-card-content>
      <div class="imageUser">
        <img alt="Image" [src]="global.CurrentClase.Profesor.Imagen | sanitizeUrl"  onError="this.src='assets/imgs/User.png'"/>
      </div> 
      <div class="title">
        <p>{{global.CurrentClase.Profesor.NombreCompleto}}</p>
        <rating [(ngModel)]="global.CurrentClase.Profesor.Calificacion" 
          readOnly="true" 
          max="5"
          emptyStarIconName="custom-clear-star" 
          halfStarIconName="custom-half-star" 
          starIconName="custom-star" 
          nullable="false">
        </rating>
      </div>
        <ion-item>
          <ion-label floating color="text">Celular</ion-label>
          <ion-input readonly type="number" [(ngModel)]="global.CurrentClase.Profesor.Telefono"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating color="text">Correo Electrónico</ion-label>
          <ion-input readonly type="text" [(ngModel)]="global.CurrentClase.Profesor.Correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-tags-input [readonly]="true" [color]="'#E94F53'" [placeholder]="'Materias'" [(ngModel)]="materias" ></ion-tags-input>
        </ion-item>
        <a class="Button" ion-button color="primary" href="https://api.whatsapp.com/send?phone=+57{{global.CurrentClase.Profesor.Telefono}}">CHATEAR</a>
        <button class="Button" ion-button color="primary">Ubicación</button>
        <a class="Button" ion-button color="primary" href="tel:{{global.CurrentClase.Profesor.Telefono}}">LLAMAR</a>

  </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!global.TipoIngeso">
    <ion-card-title>
    </ion-card-title>
    <ion-card-content>
        <div class="imageUser">
          <img alt="Image" [src]="global.CurrentClase.Estudiante.Imagen | sanitizeUrl"  onError="this.src='assets/imgs/User.png'"/>
        </div> 
        <div class="title">
          <p>{{global.CurrentClase.Estudiante.NombreCompleto}}</p>
          <rating [(ngModel)]="global.CurrentClase.Estudiante.Calificacion" 
            readOnly="true" 
            max="5"
            emptyStarIconName="custom-clear-star" 
            halfStarIconName="custom-half-star" 
            starIconName="custom-star" 
            nullable="false">
          </rating>
        </div>
          <ion-item>
            <ion-label floating color="text">Celular</ion-label>
            <ion-input readonly type="number" [(ngModel)]="global.CurrentClase.Estudiante.Telefono"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating color="text">Correo Electrónico</ion-label>
            <ion-input readonly type="text" [(ngModel)]="global.CurrentClase.Estudiante.Correo"></ion-input>
          </ion-item>
          <a class="Button" ion-button color="secondary" href="https://api.whatsapp.com/send?phone=+57{{global.CurrentClase.Estudiante.Telefono}}">CHATEAR</a>
          <button class="Button" ion-button color="secondary">Ubicación</button>
          <a class="Button" ion-button color="secondary" href="tel:{{global.CurrentClase.Estudiante.Telefono}}">LLAMAR</a>
        </ion-card-content>
  </ion-card>
</ion-content>
