page-update-password {
    ion-navbar {
        color : #E94F53
    }
    
    [text-color="my-custom-color"] {
      color: #47525E;
    }

    .div{
        background: $app-background;
        padding-bottom: 20%;
    }
  
    ion-card{
        padding-top: 5%;
        padding-bottom: 6%;
        padding-right: 4%;
    }
  
    .error-message
    {
      color: #E94F53;
      margin-left: 15px;
    }

     .RegisterButton{
      justify-content: center;
      //position: absolute;
      width: 86%;
      margin-top: 5%;
      //margin-bottom: 10%;
    }
}
