<ion-content center text-center>
    <ion-card color="light">
        <ion-card-header>
            <ion-title> <span text-color="my-custom-color">Cambia tu contraseña</span></ion-title> 
        </ion-card-header>
      <form class="form" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">  
        <div formGroupName="matching_passwords">
          <ion-item>
            <ion-label floating color="text">Nueva Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('password').hasError(validation.type) && (validations_form.get('matching_passwords').get('password').dirty || validations_form.get('matching_passwords').get('password').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>  
          <ion-item>
            <ion-label floating color="text">Confirmar Nueva Contraseña</ion-label>
            <ion-input type="password" formControlName="confirm_password"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.confirm_password">
              <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </div>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.matching_passwords">
            <div class="error-message" *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <button class="RegisterButton" ion-button color="secondary" type="submit" [disabled]="!validations_form.valid">Actualizar Contraseña</button>
      </form>
    </ion-card>
</ion-content>
