page-solicitar-clase-mapa {
  ion-header ion-icon.back-button-icon.icon {
    color: map-get($colors, secondary);
  }

  #map_canvas{
    display: block;
    height: 100%;
    width: 100%;
  }

  .MapButton {
    
    margin-left: 5%;
    background-color: #E94F53;
    width: 90%;
    margin-top: 130%;
  }
}
